
/* 
    Created on : 4 feb. 2021, 12:35:57 p. m.
    Author     : Oscar Alejandro Gómez Suarez
*/

.background {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, rgba(219,105,99,0.46), #6c5ce7);

}

.text-field{
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: transparent;
    
}

.label{
   
}

.paneData{
  
    
}